<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<script type="text/javascript" language="javascript"
	src="https://code.jquery.com/jquery-1.12.4.js" />
<script type="text/javascript" language="javascript"
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />


<script type="text/javascript">
	jQuery(function($) {
		$('#tbSearch').DataTable({
			"bSort" : true,
			"bFilter" : true,
			dom : "Bfrtip",
			ajax : "../getAllProducts",
			scrollY : 200,
			scroller : {
				loadingIndicator : true
			},
			columns : [ {
				data : "productId"
			}, {
				data : "title"
			}, {
				data : "category"
			}, {
				data : "brand"
			}, {
				data : "url"
			} ]
		});
	});
</script>

</head>
<body>
	<div class="container">
		<table id="tbSearch" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>productId</th>
					<th>title</th>
					<th>category</th>
					<th>brand</th>
					<th>url</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>productId</th>
					<th>title</th>
					<th>category</th>
					<th>brand</th>
					<th>url</th>
				</tr>
			</tfoot>
		</table>

	</div>
</body>
</html>